/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
   line-height: 1.15; /* 1 */
   -webkit-text-size-adjust: 100%; /* 2 */
 }
 
 /* Sections
    ========================================================================== */
 
 /**
  * Remove the margin in all browsers.
  */
 
 body {
   margin: 0;
 }
 
 /**
  * Render the `main` element consistently in IE.
  */
 
 main {
   display: block;
 }
 
 /**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Firefox, and Safari.
  */
 
 h1 {
   font-size: 2em;
   margin: 0.67em 0;
 }


* {
    font-family: Geneva, sans-serif;
}

ul {
    color: white;
}

.container-fondo {
    padding:  7rem 0;
    margin : 0 auto 1rem;
    max-width: 500rem;
    padding-bottom: 30rem;
    background-image: url("../images/foto-principal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.index-container {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 10% 25% 25% auto;
    grid-template-rows: auto 800px 500px;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer"
    ;
}



h1 {
    text-align: center;
    color: black;
    padding-bottom: 1rem;
}

body {
    background-color: whitesmoke;
}

/*Header y footer */

.header-footer {
    background: #6c7983;
}

.header-footer a {
    text-decoration: none; /*ESTO ES PARA QUE LOS LINKS NO APAREZCAN AZULES Y CON _*/
    color: white;
}

#telefono-logo {
    max-width: 1.7rem;
    max-height: 1.7rem;
    padding: 0 0.5rem;
    vertical-align: middle;
}

#logo-perotti {
    max-width: 10rem;
    max-height: 5rem;
}

/*Menú principal -> Barra de navegación */

.menu-navegacion {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.menu-principal {
    border: 1px #6c7983 solid
}

.menu-principal li {
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
    padding: 0 1.3rem;
    font-size: 1.4rem;
}

#telefono-item-lista {
    text-align: center ;
}

#enlaces-nav {
    text-align: right;
}


/* Styles de Footer */

footer {
    padding: 0.3rem 0;
    text-align: left;
}

.informacion-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}

.informacion-footer ul {
    border-right: 2px whitesmoke solid;
}


footer h2{
    text-align: center;
    font-weight:normal;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    color: white;
    font-size: 1.7rem;
    margin: 1rem 0;
}

.titulo-lista {
    font-weight: bold ;
}


.informacion-footer li{
    margin : 1rem 0;
    padding-right: 3rem;
}


.info-contacto li{
    list-style-type: none;
}

#logo-perotti-footer{
    width: 85%;
}

.icono-footer{
    max-width: 1.5rem;
    vertical-align: middle;
    margin: 0 0.5rem 0.5rem 0;
}

#domingo {
    color: red;
    font-weight: bold;
}


.enlaces-rapidos li{
    margin : 1rem 0;
    cursor: pointer;
    list-style-type: disc;
}

#contacto-logo{
    margin: 0 2rem;
}

/* TODO ESTO ES PROCESO DE MUDANZA -> ICONOS */

section img {
    width: 4rem;
    height: 4rem;
}

.proceso-icon p {
    font-size: 1rem;
    color: #2eb887;
    font-weight: bold;    
}

.proceso-icon img {
    max-width: 4rem;
}

.grid-proceso-mudanza {
/*    grid-template-columns: repeat(11, 1fr); */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
}

#flecha {
    max-width: 4rem;
    min-width: 0.5rem;
}

#ubicacion {
border: 0;
margin: 0 2rem;
width: 35%;
}

/* Sobre nosotros */

h2{
    margin: 2rem 0 0 1rem;
}

.sobre-nosotros{
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

.sobre-nosotros p{
    color: white;
    font-size: 25px;
    max-height: 500px;
    max-width: 1200px;
    margin-left: 30px;
}


/*Nuestra historia*/

.contenedor figure{
    position: relative;
}

.contenedor figure img {
    min-width: 50rem;
    min-height: 25rem;
    transition: all 100ms ease-out;
}

.contenedor figure .parrafo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(108, 121, 131,0.6);
    transition: all 100ms ease-out;
    opacity: 0;
    visibility: hidden;
    max-width: 50rem;
    max-height: 30rem;
    color:white;
    cursor: pointer;

}

.contenedor figure:hover > .parrafo{
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover > .parrafo p{
    color:white;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}


/*Porque elegirnos */

.porque-elegirnos{
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: row;
    flex-wrap: wrap;
}

.porque-elegirnos ul {
    margin: 2rem 0;
}
.porque-elegirnos li {
    color:black;
    margin: 1rem;
    font-size: 1.2rem;
}

.metodos-pago{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows:  3fr;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
}


.metodos-pago p {
    font-size: 1rem;
    color: #2eb887;
    font-weight: bold;    
}

.imagenes-porque-elegirnos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  1fr;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}

.imagenes-porque-elegirnos p {
    font-size: 1rem;
    color: #2eb887;
    font-weight: bold;    
}

.logo {
    width: 60%;
    height: 60%;
}

/*Guardamuebles */

.guardamuebles{
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.guardamuebles p {
    font-size: 25px;
    max-height: 500px;
    max-width: 1200px;
    margin-left: 30px;

}

.imagen-guardamuebles {
    width: 100%;
    height: 100%;
}

/* Formulario de Contacto */

.contacto {
    color: black;
    justify-content: center;
    margin: 2rem;
    align-items: center;
}

#formulario-contacto {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 3%;

}

#formulario-contacto h1 {
    font-size: 2rem;
    padding: 0 0 0;
}

#formulario-contacto p {
    margin: 1rem;
}

#formulario-contacto label {
    margin: 0.5rem;
    text-align: left;
    font-weight: bold;
}

#campos-requeridos {
    color: #6c7983;
    font-weight:inherit;
    font-style: italic;
    margin-left: 5rem;
}

input {
    text-align: left;
    width: 95%;
    margin: 0 2rem;
}

/*NO SE COMO HACER PARA CENTRAR EL BOTON!! LE PUSE TODAS LAS PROPIEDADES EN CENTER Y NO LO TOMA EN CUENTA */
#boton-enviar {
    display: flex;
    background-color:#6c7983;
    color:white;
    border: #6c7983bb;
    border-radius: 10%;
    padding: 1rem 2rem 1rem 2rem;
    min-width: 10rem;
    max-width: 5rem;
    cursor: pointer;
    justify-content: center;
    margin: 2rem;
    align-self: center;
}

textarea {
    width: 95%;
    height: 15rem;
    margin: 0 2rem;
}


input#abrir-cerrar { 
    visibility:hidden;
    position: absolute;
}

/* RESPONSIVE */


@media screen and (max-width:1610px) {

    input#abrir-cerrar { 
        visibility:hidden;
        position: absolute;
    }
    
    .toggle-button { /* ESTE ES EL BOTON SIN TOCAR */
        display:block;
        width:50px;
        height:50px;
        position:relative;
        cursor: pointer;
        box-sizing: border-box;

    }
    
    /* Usamos los :before y :after del label para dibujar las tres rayitas */
    
    .toggle-button:before, .toggle-button:after {
        position:absolute;
        display:block;
        content:" ";
        width: calc(100% / 2);               
        box-sizing: border-box;
        left: calc(100% / 4);
        transition: all 0.3s ease-out;
    }
    
    .toggle-button:before {
        top: calc(100% / 4);
        height:calc(100% / 4);
        border-top:1px solid rgb(255, 255, 255);
        border-bottom:1px solid rgb(255, 255, 255);
        background-color: transparent;
    }
    
    .toggle-button:after {
        height:1px;
        background-color:rgb(255, 255, 255);
        bottom:calc(100% / 4);
    }
    
    /* Hacemos clic y el input queda como :checked, así que los centramos y giramos 45º en distinto sentido */
    
    input#abrir-cerrar:checked + .toggle-button:before, input#abrir-cerrar:checked + .toggle-button:after {
        top:calc(100% / 2);
        height:1px;
        border-bottom:0;
    }
    
    input#abrir-cerrar:checked + .toggle-button:before {
        transform: rotate(45deg); 
    }
    
    input#abrir-cerrar:checked + .toggle-button:after {
        transform: rotate(-45deg);
    }
    
    /* Posicionamos y mostramos cuando procede los <span> que nos ayudarán con los tooltips */
    
    
    .abrir {
        position:relative;
        display:none;
        margin: 4rem 0rem 0rem -7.5rem;
    
    }
    
    .menu-navegacion {
        display: grid;
        grid-template-columns: 15% auto 40%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
    }
    
    #telefono-item-lista li {
    text-align: right;
    }

    #enlaces-nav li {
        display: block;
        min-width: 13rem;
        margin: 0.5rem 0 0.5rem 0;
        text-align: center;
    }

    .abrir {
        background-color: #6c7983;
        min-width: 16rem;
    }
    
    input#abrir-cerrar:checked + .toggle-button .abrir {
        display:block;
    }


    .horario-atencion {
        display: none;
    }

    .enlaces-rapidos {
        display: none;
    }

    .informacion-footer {
        display: grid;
        grid-template-columns: 50% 50%;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
    }

    .sobre-nosotros{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        align-items: start;
        justify-items: center;
        justify-content: center;
        }

    .sobre-nosotros h2 {
        text-align: center;
        margin: 2rem 0rem;
    }

    .contenedor figure img {
        min-width: 100%;
        min-height: 100%;
        transition: all 100ms ease-out;
    }
    
    .contenedor figure .parrafo {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(108, 121, 131,0.6);
        transition: all 100ms ease-out;
        opacity: 0;
        visibility: hidden;
        color:white;
        cursor: pointer;
        padding: 0rem;
    
    }
    
    .contenedor {
        margin: auto;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }


    .sobre-nosotros p{
        color: white;
        font-size: 25px;
        margin-left: 30px;
    }
    
    /*Nuestra historia*/
    
    .contenedor figure{
        position: relative;
    }
    
    .contenedor figure img {
        width: 40%;
        height: 40%;
        transition: all 100ms ease-out;
    }
    
    .contenedor figure .parrafo {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(108, 121, 131,0.6);
        transition: all 100ms ease-out;
        opacity: 0;
        visibility: hidden;
        color:white;
        cursor: pointer;
        padding: 0rem;
    }
}

@media screen and (max-width:500px) {

        .menu-navegacion {
            display: grid;
            grid-template-columns: 15% auto;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-items: center;
        }

        #telefono-item-lista {
            display: none;
        }

        #logo-perotti{
            margin: 0rem 0rem 0rem 2.5rem;
        }
        
        #ubicacion {
            width: 75%;
            height: 75%;
        }

        .guardamuebles{
            display: grid;
            grid-template-rows: 3fr 1fr;
            grid-template-columns: 100%;
            align-items: start;
        }
}

@media screen and (max-width:550px) {

    .grid-proceso-mudanza {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-items: center;
        justify-content: center;
    }

    .espacio-vacio {
        display: none;
    }
}


@media screen and (max-width:1000px) {

    .guardamuebles{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 100%;
        align-items: start;
    }
}


@media screen and (max-width:800px) {

    .sobre-nosotros p{
        color: white;
        font-size: 15px;
        margin-left: 30px;
    }
    
    .porque-elegirnos{
        display: grid;
        grid-template-columns: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .porque-elegirnos ul {
        margin: 2rem 0;
    }
    .porque-elegirnos li {
        color:black;
        margin: 1rem;
        font-size: 1.2rem;
    }
    
    .imagenes-porque-elegirnos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
        justify-content: center;
        text-align: center;
        margin: 1rem;
    }
    
    .imagenes-porque-elegirnos p {
        font-size: 1rem;
        color: #2eb887;
        font-weight: bold;    
    }

}


@media screen and (max-width:600px) {

    .sobre-nosotros h2 {
        margin-top: 3rem;
    }

    .contenedor figure{
        position: static;
    }
    
    .contenedor figure .parrafo {
        position: static;
        opacity: 0;
        max-width: 50rem;
        max-height: 30rem;
        color:rgb(0, 0, 0);  
        background-color: whitesmoke;
        visibility: visible;
        opacity: 1;
        padding: 0rem;
    }
    
    
    .sobre-nosotros p{
        color: black;
        font-size: 1rem;
    }
    
    .contenedor figure:hover > .parrafo p{
        color:black;
        padding: 0rem;
    }

    .guardamuebles p{
        font-size: 1rem;
    }

}